// Colors 

$main-blue: #2500E9;
$main-yellow: #E9D61A; 
$main-orange: #F46F67;
$main-pink: #FFF2F1;
$main-black: #16302B;
$main-dark-blue: #1E02B2; 
$main-white: #F6F8FC;
// spacing 

$small-space: 1rem; 
$med-space: 2.5rem; 
$large-space: 5rem; 