@import 'partials/_variables'; 
@import 'partials/_helpers'; 

footer {
  @include flex();
  h2 {
    color: white; 
  }
  background-color: $main-blue;
  div {
    @include flex(row);
    img {
      max-width: 2rem;
      margin: $small-space; 
    }
  }
}

.email-hide {
  position:fixed;
  left:-100em;
  top:100rem;
}