@import 'partials/_variables'; 
@import 'partials/_helpers'; 

footer {
  @include flex();
  margin-top: $med-space;
  background-color: $main-dark-blue;
  padding: $med-space;
  h2 {
    color: white; 
  }

  div {
    @include flex(row);
    img {
      max-width: 3rem;
      margin: $med-space; 
    }
  }
}

.email-hide {
  position:fixed;
  left:-100em;
  top:100rem;
}