@import 'partials/_variables'; 
@import 'partials/_helpers'; 

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: $main-blue; 
  h1, h2 ,h3 {
    font-family: input-mono-compressed, monospace;
    font-weight: 700;
    font-style: italic;
  }
  p, a {
    font-family: input-mono-compressed, monospace;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: $main-blue;
  }
  .project-title {
    color: $main-orange; 
    margin: $small-space; 
    font-size: 2rem; 
  }
}

main {
  display: flex; 
  flex-direction: column;
  align-items: center;
}