@import 'partials/_variables'; 
@import 'partials/_helpers'; 

header {
  @include flex(row, space-around);
  color: $main-blue; 
  margin: $small-space; 
  div {
    margin: $small-space; 
    text-align: center;
  .arrow {
    margin: 0 $small-space; 
    max-width: 1.25rem; 
   }
   .cursor {
    margin: 0 $small-space; 
    max-width: 0.75rem; 
    }
  }
  h2 {
    display: inline; 
  }
  img {
    max-width: 40%; 
  }
}

@media screen and (max-width: 525px) {
  header {
    @include flex(column-reverse, space-around);
    img {
      max-width: 70%; 
    }
    h2 {
      font-size: 1.25rem; 
    }
    .arrow {
      margin: 0 $small-space; 
      max-width: 0.25rem; 
     }
     .cursor {
      margin: 0 $small-space; 
      max-width: 0.5rem; 
      }
  }
}