@import 'partials/_variables'; 
@import 'partials/_helpers'; 


nav {
  @include flex(row, space-between); 
  .logo {
    white-space: nowrap;
  }
  a {
    margin: 0 $small-space;
    h1 {
      color: $main-blue;
      span {
        color: $main-orange;
      }
    }
  }

  ul {
    @include flex(row);
    list-style-type: none;
    li {
      a {
        font-weight: bold;
        color: $main-blue;
      }
    }
  }

  img {
    display: none; 
  }
}

@media screen and (max-width: 525px) {
  nav {
    img {
      display: flex; 
      max-width: 2.5rem; 
      margin: $small-space;
    }
    ul {
      display: none; 
    }
  }
}