@import 'partials/_variables'; 
@import 'partials/_helpers'; 

article {
  @include flex(row); 
  margin: $med-space; 
  color: $main-blue;
  text-transform: lowercase;
  .project-image {
    margin: $med-space; 
    max-width: 15rem;
  }
  .underline {
    height: 0.35rem; 
    width: 4rem; 
    background-color: $main-orange; 
  }

  aside {
    box-shadow: inset 5rem 0 0 0 $main-white;
    h1, h3 {
      color: $main-blue;
      text-transform: uppercase;
    }
    h1 {
      margin: 0.5rem 0;
    }
    h3 {
      span {
        color: $main-yellow; 
      }
    }

    .space {
      margin: 0 2rem; 
    }
  }
}

.project-header {
  @include flex(row, space-between, flex-start); 
  margin: 0; 
  h1 { 
    font-size: 2rem; 
  }
}

header {
  .small-project-image {
    display: none; 
  }
}



@media screen and (max-width: 850px) {
  article {
    margin: $med-space;
    .project-image {
      display: none;
    }
  }

  .project-header {
    @include flex(row, space-between);
    margin: 0; 
    .small-project-image {
      display: flex; 
      max-width: 5rem;
    }
    h1 { 
      font-size: 1.5rem; 
    }
  }
}