@import 'partials/_variables'; 
@import 'partials/_helpers'; 

article {
  @include flex(row); 
  margin: $large-space; 
  color: $main-blue;
  .project-image {
    margin: $med-space; 
    max-width: 15%;
  }
  .underline {
    height: 0.35rem; 
    width: 4rem; 
    background-color: $main-orange; 
  }

  aside {
    box-shadow: inset 5rem 0 0 0 $main-pink;
    h1, h3 {
      color: $main-blue;
      text-transform: uppercase;
    }
    h1 {
      margin: 0.5rem 0;
    }
    h3 {
      span {
        color: $main-yellow; 
      }
    }

    .space {
      margin: 0 2rem; 
    }
  }
}